<html>
<head>
    <style>
        .main {
            font-family: Helvetica, Arial, sans-serif;
        }
        .inviter {
            font-weight: bold;
        }
        .projectName {
            font-weight: bold;
        }
        .footer {
            padding-top: 20px;
            font-size: 10px;
            color: #707070;
            line-height: 1.5;
        }
    </style>
</head>
<body>
<div class="main">
    <div>
        You have been invited by <span class="inviter">{{inviter}}</span> to collaborate on the <span class="projectName">{{project.displayName}}</span> project in WebProtégé.
    </div>
    <div>
        To accept this invitation and begin collaborating, create a WebProtégé account using this email address.
    </div>
    <div>
        <a href="{{{application.url}}}">Create your WebProtégé account</a>
    </div>
    <div>
        You will be able to access the project once your account has been created.
    </div>
    <div class="footer">
        If you were not expecting this invitation, you can ignore this email.
    </div>
</div>
</body></html>
