on:
  push:
    branches:
      - 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.head_ref }}
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: 21
      - name: Bump version
        id: bump
        uses: mickem/gh-action-bump-maven-version@v1